body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: #333;
}

p {
  color: #666;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Focus effect */
input:focus, select:focus {
  outline: none;
  border: 2px solid #667eea;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: linear-gradient(to right, #43e97b, #38f9d7);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
}

/* Output */
#result {
  margin-top: 15px;
  font-weight: bold;
}

/* Fraud text */
#fraud {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
